<%
    var title = '';
    var title_suffix = ' - ' + config.title;
    var fb_admin_ids = [];
    var keywords = '';
    var photos = [];
    var regex = /(\/index\.html?$)|(\/?$)/;
    var path = page.path.replace(regex, '');

    /**
     * Separate fb admin ids
     */
    (function() {
        if (theme.fb_admin_ids) {
            fb_admin_ids = String(theme.fb_admin_ids).split(',');
        }
    })();

    /**
     * Generate page title
     */
    (function() {
        if (is_home()) {
            title += config.title;
        }
        else if (is_archive()){
            title += __('global.archives');

            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            }
            else if (is_year()) {
                title += ': ' + page.year;
            }

            title += title_suffix;
        }
        else if (is_tag()) {
            if (page.tag) {
                title += __('global.tag') + ': ' + page.tag;
            }
            else {
                title += __('global.tags');
            }

            title += title_suffix;
        }
        else if (is_category()) {
            if (page.category) {
                title += __('global.category') + ': ' + page.category;
            }
            else {
                title += __('global.categories');
            }

            title += title_suffix;
        }
        else {
            title += page.title + title_suffix;
        }
    })();

    /**
     * Get global and page keywords
     */
    (function() {
        if (config.keywords) {
            keywords += config.keywords;
            keywords += ',';
        }
        if (page.keywords) {
            keywords += page.keywords;
        }
    })();

    /**
     * Extract original url of page photos and store it
     * to add them in open graph and swiftype meta tag
     */
    (function() {
        /**
         * Extract original url of a photo and store it
         */
        function processImage(img) {
            var rPhoto = /([\w:\-\/._#]+)(?:\s+([\w:\-\/._#]+))*(?:\s*["|'](.+)["|'])*/;
            match = img.match(rPhoto);
            photos.push(resolve_asset_url(page.path, match[1]));
        }

        if (page.gallery && page.gallery.length) {
            page.gallery.forEach(function(photo) {
                processImage(photo)
            });
        }
        else if (page.photos && page.photos.length) {
            page.photos.forEach(function(photo) {
                processImage(photo);
            });
        }
    })();
%>
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="generator" content="<%= config.title %>">
    <meta name="author" content="<%= config.author %>">
    <meta name="theme-color" content="#112160">
    <% if (is_home()) { %>
    <link rel="canonical" href="<%= config.url %>" />
    <% } else {%>
    <link rel="canonical" href="<%= config.url %>/<%= path %>" />
    <% } %>
    <% if (theme.favicon) { %>
        <link rel="icon" href="<%= resolve_asset_url(theme.image_dir, theme.favicon) %>">
        <link rel="icon" type="image/png" href="https://res.cloudinary.com/dmpeew57x/image/upload/v1488863997/icons/android-chrome-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="https://res.cloudinary.com/dmpeew57x/image/upload/v1488863998/icons/android-chrome-192x192.png" sizes="192x192">
        <link rel="apple-touch-icon" href="https://res.cloudinary.com/dmpeew57x/image/upload/v1488863997/icons/android-chrome-180x180.png" sizes="180x180">
    <% } %>
    <% if ((config.feed) && (config.feed.path.length)) { %>
        <link rel="alternate" type="application/atom+xml" title="RSS" href="<%- url_for(config.feed.path) %>">
    <% } %>
    <%- open_graph({
        type: 'blog',
        twitter_id: theme.author.twitter,
        fb_app_id: theme.fb_app_id
    }) %>
    <% if (typeof fb_admin_ids !== 'undefined') { %>
        <% fb_admin_ids.forEach(function(fb_admin_id) { %>
            <meta property="fb:admins" content="<%= fb_admin_id %>" />
        <% }) %>
    <% } %>
    <% if (page.thumbnailImage && page.thumbnailImage.length) { %>
        <meta property="og:image" content="<%= resolve_asset_url(page.path, page.thumbnailImage) %>"/>
        <meta class="swiftype" name="image" data-type="enum" content="<%= resolve_asset_url(page.path, page.thumbnailImage) %>" />
    <% } %>
    <% if (page.coverImage && page.coverImage.length) { %>
        <meta property="og:image" content="<%= resolve_asset_url(page.path, page.coverImage) %>"/>
        <meta class="swiftype" name="image" data-type="enum" content="<%= resolve_asset_url(page.path, page.coverImage) %>" />
    <% } %>
    <% if (photos && photos.length) { %>
        <% photos.forEach(function(photo) { %>
            <meta property="og:image" content="<%= photo %>" />
            <meta class="swiftype" name="image" data-type="enum" content="<%= photo %>" />
        <% }) %>
    <% } %>
    <!--STYLES-->
    <%- css('assets/css/bongeats.css') %>
    <!--STYLES END-->

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="manifest" href="/manifest.json">
</head>
