<%
    var sidebarBehavior;
    // Clear reading feature. Hide sidebar on article page if the feature is activated
    if (is_post() && theme.sidebar_behavior < 3 &&
        ((theme.clear_reading === true && page.clearReading !== false) ||
        page.clearReading === true)) {
        sidebarBehavior = theme.sidebar_behavior + 2;
    }
    else {
        sidebarBehavior = theme.sidebar_behavior;
    }
%>
<!DOCTYPE html>
<html ⚡ lang="<%= config.language %>">
    <%- partial('_partial/head') %>
    <body>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org/",
                "@graph": [
                    {
                        "@type": "Organization",
                        "url": "https://bongeats.com",
                        "logo": "https://res.cloudinary.com/dmpeew57x/image/upload/v1488863998/icons/android-chrome-512x512.png",
                        "name": "Bong Eats",
                        "sameAs": [
                            "https://www.youtube.com/c/BongEats",
                            "https://www.facebook.com/BongEats/",
                            "https://www.instagram.com/bongeats/",
                            "https://twitter.com/bongeats",
                            "https://plus.google.com/+BongEats"
                          ]
                    }
            
                ]
            }
        </script>
        <% if (page.jsonLd) { %>
          <script type="application/ld+json">
              <%- JSON.stringify(page.jsonLd) %>
          </script>
        <% } %>
        <div id="blog">
            <%- partial('_partial/header', {sidebarBehavior: sidebarBehavior}) %>
            <%- partial('_partial/post/header-cover', {post: page, sidebarBehavior: sidebarBehavior}) %>
            <div id="main" data-behavior="<%= sidebarBehavior %>"
                 class="<%= (page.coverImage ? 'hasCover' : '') %>
                        <%= (page.coverMeta === 'out' ? 'hasCoverMetaOut' : 'hasCoverMetaIn') %>
                        <%= (page.coverCaption ? 'hasCoverCaption' : '') %>">
                <%- body %>
                <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
            </div>
            <% if (is_post()) { %>
                <div id="bottom-bar" class="post-bottom-bar" data-behavior="<%= sidebarBehavior %>">
                    <%- partial('_partial/post/actions', {post: page}) %>
                </div>
            <% } %>
        </div>
        <%- partial('_partial/cover', null, {cache: !config.relative_link}) %>
    </body>
</html>
