<% if (post.videoId) { %>
<amp-youtube width="480" height="270" layout="responsive" data-videoid="<%=(post.videoId)%>"></amp-youtube>
<% } %>
 <amp-analytics type="googleanalytics" id="analytics1">
   <script type="application/json">
    {
      "vars": {
        "account": "<%= theme.google_analytics_id %>"
      },
      "triggers": {
        "AMP-pageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
 </amp-analytics>
 
<div class="post-header main-content-wrap <%= (post.metaAlignment ? 'text-' + post.metaAlignment : 'text-left') %>">
    <% if (post.link) { %>
        <h1 itemprop="headline">
            <a class="link" href="<%- url_for(post.link) %>" target="_blank" itemprop="url">
                <%= post.title || '(' + __('post.no_title') + ')' %>
            </a>
        </h1>
    <% } else { %>
        <h1 class="post-title" itemprop="headline">
            <%= post.title || '(' + __('post.no_title') + ')' %>
        </h1>
    <% } %>
    <%- partial('meta',{classes: ['post-meta']}) %>
</div>
